/** ссылка на которую будет наведена мышка будет красной **/
a:hover {
    color: rgb(29, 216, 76);
}

/** замена цвета ссылки **/
a:link {
    color: green;
}

p:first-letter {
    font-size: 30 px;
}